<footer id="footer">
    <div class="inner">
        <p class="copyright">&copy; UAVCAN development team</p>
        <ul class="menu">
            <li><a href="https://groups.google.com/forum/#!forum/uavcan">Mailing list</a></li>
            <li><a href="https://github.com/UAVCAN">Github profile</a></li>
            <li><a href="https://github.com/UAVCAN/uavcan.github.io">Help improve this website</a></li>
        </ul>
    </div>
</footer>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.dropotron.min.js"></script>
<script src="/assets/js/jquery.scrollex.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="/assets/js/main.js"></script>
