<footer id="footer">
    <div class="inner">
        <ul class="menu">
            <li><a href="https://groups.google.com/forum/#!forum/uavcan/join" target="_blank">Subscribe to the mailing list</a></li>
            <li><a href="https://github.com/UAVCAN" target="_blank">Github profile</a></li>
            <li>
                <a href="https://github.com/UAVCAN/uavcan.github.io/issues/new?title=Problem+on+page+{{ page.url | cgi_escape }}" target="_blank">Report a problem with this website</a>
            </li>
        </ul>
        <p class="copyright">Generated {{ site.time | date_to_rfc822 }} &copy; UAVCAN development team</p>
    </div>
</footer>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.dropotron.min.js"></script>
<script src="/assets/js/jquery.scrollex.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="/assets/js/main.js"></script>
<script src="/assets/js/lightbox.min.js"></script>

{% include google_analytics.html %}
