{% comment %}
This pathetic disaster is nothing else but implementation of a stable sorting algorithm,
needed to ensure that all menu and sub-menu entries are properly arranged with respect to each other.
{% endcomment %}
{% if SORTED_VALID_PAGE_URLS == null %}
    {% comment %}Initialized with space!{% endcomment %}
    {% assign urls = ' ' %}

    {% assign sorted_pages = site.pages | sort:"url" %}

    {% for weight in (0..100) %}
        {% assign matching = sorted_pages | where:"weight",weight %}
        {% if matching != null %}
            {% for match in matching %}
                {% assign tmp2 = match.url | remove: 'index.html' | append: ' ' | remove: '/ ' %}
                {% assign tmp = urls | append: tmp2 | append: ' ' %}
                {% assign urls = tmp %}
            {% endfor %}
        {% endif %}
    {% endfor %}

    {% assign matching = sorted_pages | where:"weight",null %}
    {% for match in matching %}
        {% unless match.url contains '.xml' or match.url contains '/assets/' %}
            {% assign tmp2 = match.url | remove: 'index.html' | append: ' ' | remove: '/ ' %}
            {% assign tmp = urls | append: tmp2 | append: ' ' %}
            {% assign urls = tmp %}
        {% endunless %}
    {% endfor %}

    {% assign SORTED_VALID_PAGE_URLS = urls | split: ' ' %}

    <!-- SORTED_VALID_PAGE_URLS: -->
    {% for node_url in SORTED_VALID_PAGE_URLS %}
        <!-- {{node_url}} -->
    {% endfor %}
{% endif %}

{% capture inner %}
{% for node_url in SORTED_VALID_PAGE_URLS %}
    {% if include.prefix == null %} {% assign PREFIX = '' %}
    {% else %}                      {% assign PREFIX = include.prefix %}
    {% endif %}

    {% if node_url contains PREFIX %}
        {% if include.level == null %}  {% assign LEVEL = 0 %}
        {% else %}                      {% assign LEVEL = include.level %}
        {% endif %}

        {% assign url_parts  = node_url | split: '/' %}
        {% assign node_level = url_parts | size | minus: 2 %}

        <!-- {{node_url}} {{node_level}} -->

        {% if node_level >= LEVEL %}
            {% if include.max_depth == null %}  {% assign MAX_DEPTH = 5 %}
            {% else %}                          {% assign MAX_DEPTH = include.max_depth %}
            {% endif %}

            {% assign node_name = url_parts | last %}

            {% capture traversed_items %}{% include traversed_items_render.html level=LEVEL %}{% endcapture %}

            {% unless traversed_items contains node_name %}
                {% include traversed_items_append.html level=LEVEL value=node_name %}

                {% assign next_level = LEVEL | plus: 1 %}

                {% assign prefix = '' %}
                {% for x in (0..next_level) %}
                    {% assign tmp1 = url_parts[x] %}
                    {% assign tmp2 = prefix | append: tmp1 | append: '/' %}
                    {% assign prefix = tmp2 | replace: '//','/' %}
                {% endfor %}

                <!-- PREFIX {{node_url}} {{prefix}} -->

                {% assign file_name  = url_parts | last %}

                {% assign active_item = false %}
                {% if LEVEL == 0 and page.url contains node_name %}
                    {% assign active_item = true %}
                {% endif %}
                {% if page.url == node_url and file_name == node_name %}
                    {% assign active_item = true %}
                {% endif %}
                {% assign page_url_sans_index = page.url | remove: 'index.html' %}
                {% assign page_url_file = page.url | split: '/' | last %}
                {% if page_url_sans_index == prefix and page_url_file == 'index.html' %}
                    {% assign active_item = true %}
                {% endif %}

                <li{% if active_item %} class="current"{% endif %}>
                    {% assign node_title = node_name | replace: '_', ' ' %}

                    {% if include.a_toplevel_opener_class != null and node_level > LEVEL and LEVEL == 0 %}
                        {% capture a_class %}class="{{ include.a_toplevel_opener_class }}"{% endcapture %}
                    {% else %}
                        {% assign a_class = '' %}
                    {% endif %}

                    {% if node_name == file_name %}
                        <a {{a_class}} href="{{node_url}}">{{node_title}}</a>
                    {% else %}
                        <a {{a_class}} href="{{prefix}}">{{node_title}}</a>
                    {% endif %}

                    {% if node_level > LEVEL and next_level < MAX_DEPTH %}
                        {% include menu.html level=next_level prefix=prefix class=include.class max_depth=MAX_DEPTH %}
                        {% include traversed_items_drop.html level=LEVEL %}
                    {% endif %}
                </li>
            {% endunless %}
        {% endif %}
    {% endif %}
{% endfor %}
{% endcapture %}

{% if include.level == null %}  {% include traversed_items_drop.html level=0 %}
{% else %}                      {% include traversed_items_drop.html level=include.level %}
{% endif %}

{% if inner contains "</li>" %}
<ul{% if include.class != null %} class="{{include.class}}"{% endif %}>
{% if include.level == null or include.level == 0 %}
    <li{% if page.url == '/index.html' %} class="current"{% endif %}>
        <a href="/">Home</a>
    </li>
{% endif %}
{{ inner }}
</ul>
{% endif %}
