<!DOCTYPE HTML>
<html>

    {% include head.html %}

    <body>

        {% include header.html %}

        <section id="main" class="wrapper sidebar right">
            <div class="inner">

                <!-- CONTENT -->
                <div class="content">
                {{ content }}
                </div>

                <!-- SIDEBAR -->
                <div class="sidebar">
                    <section>
                        <h3>Contact</h3>
                        <footer>
                        {% include contact.html %}
                        </footer>
                    </section>
                </div>

            </div>
        </section>

        {% include footer.html %}

    </body>
</html>
