<!DOCTYPE HTML>
<html>

    {% include head.html %}

    <body>

        {% include header.html %}

        <section id="main" class="wrapper sidebar right">
            <div class="inner">

                <!-- CONTENT -->
                <div class="content">
                {{ content }}
                </div>

                <!-- SIDEBAR -->
                <div class="sidebar">
                    <section>
                        <h3>Contact</h3>
                        <footer>
                        <ul>
                            <li>
                                <a href="https://groups.google.com/forum/#!forum/uavcan">Mailing list</a>
                            </li>
                            <li>
                                <a href="https://github.com/UAVCAN">Github organization</a>
                            </li>
                            <li>
                                <a href="mailto:pavel.kirienko@zubax.com">Maintainer: Pavel Kirienko</a>
                            </li>
                        </ul>
                        </footer>
                    </section>

                    <section>
                        <h3>Legal note</h3>
                        <footer>
UAVCAN is an interface standard open to everyone.
No copyrights are reserved and no licensing is necessary for its implementation, distribution, or use.
In no event shall the authors of the standard be liable for any damage arising, directly or indirectly, from its use.
                        </footer>
                    </section>
                </div>

            </div>
        </section>

        {% include footer.html %}

    </body>
</html>
