@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

///
/// Slate by Pixelarity
/// pixelarity.com @pixelarity
/// License: pixelarity.com/license
///

/* Header */

	body {
		padding-top: 3.5em;
	}

	@include keyframes('reveal-header') {
		0% { top: -4em; opacity: 0; }
		100% { top: 0; opacity: 1; }
	}

	/*
	 * Offsetting anchors.
	 * This solution is not perfect because it makes headers unclickable.
	 * TODO: implement proper solution.
	 */
	.clickable-header {
		padding-top: 3.6em;
		margin-top: -3.6em;
		z-index: -1;
	}

	#header {
		background-color: _palette(bg-header);
		box-shadow: 0 3px 6px #ddd;
		font-family: _font(family-heading);
		font-weight: _font(weight-heading);
		height: 3.5em;
		left: 0;
		line-height: 3.5em;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: _misc(z-index-base);

		a {
			border: 0 none;
		}

		img {
			padding: 8px;
			max-height: 100%;
			max-width: 100%;
			border: 0 none;
		}

		h1 {
			height: inherit;
			left: 1.5em;
			line-height: inherit;
			margin: 0;
			padding-bottom: 0;
			position: relative;

			&:after {
				display: none;
			}

			a {
				color: inherit;

				span {
					font-weight: _font(weight-heading);
				}
			}
		}

		nav {
			height: inherit;
			line-height: inherit;
			position: absolute;
			right: 1.5em;
			top: 0;

			li.current {
				font-weight: _font(weight-menu-current);
			}

			> ul {
				list-style: none;
				margin: 0;
				padding: 0;

				> li {
					display: inline-block;
					margin-left: 3em;
					padding: 0;

					> ul {
						display: none;
					}

					a {
						@include icon;
						border-bottom: 0;

						&:before {
							margin-right: 0.5em;
							font-size: 80%;
							color: #555;
						}
					}

					&:first-child {
						margin-left: 0;
					}
				}
			}
		}

		.navPanelToggle {
			@include icon;
			border: 0;
			height: 4em;
			position: absolute;
			right: 0;
			top: 0;
			width: 5em;
			display: none;

			&:before {
				content: '\f0c9';
				width: 3em;
				height: 3em;
				display: block;
				position: absolute;
				right: 0;
				top: 0;
				text-align: center;
			}
		}

		& + #banner {
			margin-top: -3.5em;
		}

		&.reveal {
			@include vendor('animation', 'reveal-header 0.5s ease');
		}

		&.alt {
			@include color-button(accent1);
			@include color-typography(accent1);
			@include vendor('animation', 'none');
			background-color: transparent;
			box-shadow: none;
			overflow: hidden;
			position: absolute;
			top: 1.5em;

			h1 {
				left: 2.5em;
			}

			nav {
				right: 2.5em;
			}
		}

		@include breakpoint(large) {
			&.alt {
				top: 0.75em;

				h1 {
					left: 1.5em;
				}

				nav {
					right: 1.5em;
				}
			}
		}

		@include breakpoint(medium) {
			&.alt {
				top: 0;
			}

			nav {
				display: none;
			}

			.navPanelToggle {
				display: block;
			}
		}

		@include breakpoint(small) {
			height: 3em;
			line-height: 3em;

			h1 {
				left: 1em !important;

				a {
					font-size: 0.9em;
				}
			}
		}
	}

	.dropotron {
		list-style: none;
		padding: 0;
		background: _palette(bg-header);
		color: _palette(fg-bold);
		min-width: 13em;
		padding: 0.75em;
		margin-top: -0.5em;
		font-family: _font(family-heading);
		font-weight: _font(weight-heading);
		box-shadow: 0 0 0.125em 0 rgba(0,0,0,0.35);

		li {
			box-shadow: inset 0 1px 0 0 _palette(border);

			&:first-child {
				box-shadow: none;
			}
		}

		li.current {
			font-weight: _font(weight-menu-current);
		}

		a {
			color: inherit;
			text-decoration: none;
			letter-spacing: 0.05em;
			font-size: 0.9em;
			display: block;
			line-height: 3em;
			border: 0;
		}

		&.level-0 {
			margin-top: 0;
		}
	}
